.containerTeam{
    display: flex;
    justify-content: space-between;
}
.dropShadow{
    filter: drop-shadow(0px 0px 10px #01E9F8);
    width: 50%;
    z-index: 2;
}
.borderBox1{
    background-color: #01E9F8;
    padding: 5px 5px 5px 5px;
    clip-path: polygon(0 5%, 21% 0, 27% 5%, 100% 4%, 99% 15%, 93% 16%, 93% 70%, 98% 72%, 95% 100%, 11% 100%, 0 90%, 0 28%);

}
.borderBox2{
    background-color: #45494a;
    padding: 5px 5px 5px 5px;
    clip-path: polygon(0 5%, 21% 0, 27% 5%, 100% 4%, 99% 15%, 93% 16%, 93% 70%, 98% 72%, 95% 100%, 11% 100%, 0 90%, 0 28%);

}
.Twitter {
    /* align-self: end !important; */
    background: linear-gradient(149.74deg, #20C9FF 10.73%, #00F0FF 88.87%);
    border: 1px solid #13D9FF;
    box-shadow: 0px 0px 25px #20C9FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 160px;
    padding: 10px;
}
.GreyCircle {
    width: 30px;
    height: 30px;
    background: rgba(102, 113, 120, 1);
    border: 2px solid rgba(119, 133, 141, 1);
    border-radius: 50%;
}
.Circle3 {
    position: absolute;
    right: 35px;
    top: 23px;
}
.User {
    font-weight: 800;
    /* font-size: 36px; */
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00E0FF;
    text-shadow: 0px 0px 10px #00E0FF;
    transform: rotate(-2.06deg);
    margin: 0px 0px 20px 0px;
    align-self: flex-start;
}
.backgroud{
    background: linear-gradient(148.02deg, rgba(137, 230, 251, 0.5) 16.91%, rgba(175, 214, 223, 0.5) 97.53%);
    box-shadow: 0px 0px 15px rgba(37, 229, 255, 0.75);
    height: 310px;
    width: 100%;
    /* right: 40px; */
    position: absolute;
    z-index: 1;
    top: 40px;
}
.FlexBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}
.box2Shadow{
    position: relative;
    filter: drop-shadow(0px 0px 10px #01E9F8);
    height: 100%;
}
.blueBox{
    height: 100%;
    background-color: #01E9F8;
    padding: 4px 4px 4px 4px;
    clip-path: polygon(8% 13%, 0 0, 100% 0, 100% 100%, 0 100%, 8% 88%, 50% 88%, 50% 13%);

}
.blackBox{
    height: 100%;
    background-color: #45494a;
    clip-path: polygon(8% 13%, 0 0, 100% 0, 100% 100%, 0 100%, 8% 88%, 50% 88%, 50% 13%);

}
.Circle1 {
    position: absolute;
    right: 15px;
    top: 10px;
}

.Circle2 {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.Box2Line{
    width: 10%;
    z-index: 2;
}
@media screen and (max-width:900px){
    /* .backgroud{
        display: none;
    } */
    .containerTeam{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .Box2Line{
        width: 100px;
        height: 250px;
        transform: rotate(270deg);
    }
    .backgroud{
        /* max-height: 300px;
        max-width: 300px !important; */
        /* width: 200px;
        height: 200px; */
        /* transform: rotate(-2.06deg); */
        width: 200px;
        height: 238px;
        margin-top: 3rem;
    }
    .dropShadow{
        width: 100%;
    }
    .Twitter {
        min-width: 90px;
        max-height: 70px;
        padding: 10px;
    }
}