
.Container {
    margin: 50px 0px;
}

.ContainerShadow {
    filter: drop-shadow(0px 0px 10px #DBFF00);
}

.FirstContainer {
    background-color: #DBFF00;
    clip-path: polygon(0 0, 30% 0, 36% 6%, 85% 6%, 100% 6%, 100% 6%, 98% 100%, 36% 98%, 33% 93%, 13% 93%, 10% 97%, 0 97%);
    padding: 4px 3px;
}

.SecondContainer {
    background-color: black;
    position: relative;
    padding-left: 30px;
    clip-path: polygon(0 0, 30% 0, 36% 6%, 85% 6%, 100% 6%, 100% 6%, 98% 100%, 36% 98%, 33% 93%, 13% 93%, 10% 97%, 0 97%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 400px; */
}

.ThirdContainer {
    width: 50%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.Sumo {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.ButtonShadow {
    filter: drop-shadow(0px 0px 10px #1963f8);
}

.Button {
    text-transform: capitalize;
    font-weight: 600;
    width: 150px;
    height: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 86%, 89% 100%, 0 90%, 0 90%, 0% 30%);
}

.ID {
    position: absolute;
    top: 5px;
}

.Play {
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 1000;
}



@media screen and (max-width: 900px) {
    .ThirdContainer {
        width: 100%;
    }

    .Sumo {
        align-self: flex-end;
    }
}

@media screen and (max-width: 900px) {
    .Sumo {
        width: auto;
        height: auto;
    } 
    .ThirdContainer {
        margin-top: 70px;
    }
    
}