.launchMapBox{
    display: flex;
    justify-content: space-evenly;
}
.launchMapBox1,.launchMapBox2{
    flex: 50%;
    position: relative;
}
.launchMapBox2{
    margin: 10px;
    position: relative;
}
.launchMapBox2::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    left: 2px;
    top: 2px;
    /* z-index: 1; */
    background-color: rgba(0, 209, 255, 0.75);
    background: linear-gradient(180deg, rgba(0, 240, 255, 0.35) 0%, rgba(0, 225, 240, 0.8) 25.52%, #00F0FF 53.12%, rgba(0, 214, 227, 0.8) 81.77%, rgba(0, 221, 235, 0.25) 100%, rgba(0, 221, 235, 0.35) 100%);
    box-shadow: 0px 0px 25px rgba(0, 240, 255, 0.75);
    border-radius: 25px;

}
.container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -18px;
    background-color: #01E9F8;
    top: 3px;
    border-radius: 50%;
    z-index: 1;
}

.container{
    position: relative;
}