.Button {
    /* color: purple !important; */
    /* background-color: brown; */

}

.Flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.FlexBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;

}

.Rectangle {
    filter: drop-shadow(0px 5px 40px #0ff);
    margin-top: 10px;
}

.RectangleBox {
    background-color: #1BE4FF;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 100%, 100% 81%, 98% 100%, 21% 100%, 20% 79%, 9% 79%, 8% 100%, 0 100%);
    padding: 3px;
    
    border-radius: 7px;
}

.RectangleBorder {
    position: relative;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 100%, 100% 81%, 98% 100%, 21% 100%, 20% 79%, 9% 79%, 8% 100%, 0 100%);
    background-color: #17D2F3;
    border-radius: 7px;
    overflow: hidden;
    white-space: nowrap;
    /* width:800px; */
    /* height: 20px; */
    /* background-color: yellow; */
    overflow: hidden;
    padding: 5px;
    padding-bottom: 10px;
    /* border: 2px solid #1BE4FF; */
}

.WarnBtn {
    font-weight: 600;
    margin-right: 10px;
}



.ScrollText {
    position: relative;
    -webkit-animation: scroll 15s infinite linear;
    -moz-animation: scroll 15s infinite linear;
    -o-animation: scroll 15s infinite linear;
    animation: scroll 15s infinite linear;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

@keyframes scroll {
    0% {
        left: 900px;
    }

    100% {
        left: -900px;
    }
}

@-webkit-keyframes scroll {
    0% {
        left: 900px;
    }

    100% {
        left: -900px;
    }
}